<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbis.reservationsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".MyReservationActivity"
            android:label="@string/app_myReservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetailActivity"
            android:label="@string/app_bookDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
